body{
margin: 0px;
padding: 0px;
}

.container{
    height: 100px;;
}

.header-bar-menu{
    display: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fas{
    display: none;
}

.logo-band{
    width: 100px;
    justify-self: center;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link{
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(238, 234, 234);
}

.header-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab{
    margin: 0 10px;
    color: rgb(15, 4, 4);
}

.fab:hover{
    color: rgb(97, 94, 94);
}










@media screen and (max-width: 760px){
    .logo-band{
        left: 30px;
    }
}


@media screen and (max-width: 660px){
    .body{
        width: 100%;
    }

    .fas{
        font-size: 40px;
    }


    .header{
        width: 100%;
        height: 100px;
    }

    .header-bar-menu{
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .header-logo{
    }

    .logo-band{
        width: 300;
        left: 70px;
    }

    .header-nav, .header-social-icon{
        display: none;
    }
}

