body{
}

.container{
    max-width: 100%;
}

.header-bar-menu{
    display: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fas{
    display: none;
}

.logo-band{
    width: 100px;
    justify-self: center;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link{
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(238, 234, 234);
}

.header-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab{
    margin: 0 10px;
    color: rgb(15, 4, 4);
}

.fab:hover{
    color: rgb(97, 94, 94);
}

.container-album{
    text-align: center;
    max-width: 100%;
    background-color: aqua;
}

.band-name{
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

.album-name{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 4fr);
    align-items: center;
    grid-gap: 10px;
    grid-auto-rows: 100px;
    
}

/*
.album:nth-child(odd){
    background-color: rgb(93, 230, 223);
}

.album:nth-child(even){
    background-color: rgb(142, 142, 182);
}
*/

.depriving_regret{
    max-width: 100%;
    object-position: center;
    object-fit: cover;
}

.album{
    max-width: 50%;
    margin: 5px 5px;
    justify-self: center;
}

.photo-album{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}










@media screen and (max-width: 1024px){
    .album-name{
        grid-template-columns:repeat(2, 1fr) ;
        grid-template-rows: repeat(5, 1fr);
    }
}




@media screen and (max-width: 760px){
    .logo-band{
        left: 30px;
    }
}


@media screen and (max-width: 660px){
    .body{
        width: 100%;
    }

    .fas{
        font-size: 40px;
    }


    .header{
        width: 100%;
        height: 100px;
    }

    .header-bar-menu{
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .logo-band{
        width: 300;
        left: 70px;
    }

    .header-nav, .header-social-icon{
        display: none;
    }

    .album{
        max-width: 70%;
    }
}



@media screen and (max-width: 480px){
    .album-name{
        grid-template-columns:repeat(1, 1fr) ;
        grid-template-rows: repeat(9, 1fr);
    }

    .album{
        max-width: 100%;
    }
}

